body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
        'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
        'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

@keyframes rainbow {
    0% {
        color: red;
    }
    17% {
        color: orange;
    }
    34% {
        color: yellow;
    }
    51% {
        color: #00ff0a;
    }
    68% {
        color: #008cff;
    }
    85% {
        color: #9400ff;
    }
    100% {
        color: #ff8eff;
    }
}

/* Apply animation to text */
.red {
    animation: rainbow 4s linear infinite;
}

.bold {
    font-weight: bold;
}
